__pycache__
.venv
extract_strings.sh
Projet_ML.pdf
dist/*
/.venv/
app.ps1
desktop_app.py
desktop_app.spec
extract_strings.py
icon.ico
launch_app.py
launch_wine_analysis.bat
main.spec
Wine_Analyzer.lnk
Wine_Analyzer.spec
Wine_Analyzer.
.streamlit/*
build/*

