.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2c3e50;
}

.login-form {
  background-color: #34495e;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 40vh;
}
.language-flag {
  position: absolute;
  top: 10px;
  right: 10px;
}
.login-form h2 {
  color: #ecf0f1;
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-form input {
  width: 38vh;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
}

.login-form button {
  width: 40vh;
  padding: 0.5rem;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #2980b9;
}